@using System.Web.Optimization
@{
    ViewBag.Title = "About";
}

<div class="col span-4-of-5 js--topbar">
    <div class="content">
        <div class="content project">
            <h3>Projekt Sklepu Internetowego GGShop</h3>

            <p>
                Sklep będzie sprzedawał karmy i akcesoria dla psów i kotów.

                -Możliwość rejestracji użytkowników, historia zamówień, płatności.<br />
                -Dodawanie i usuwanie produktów.<br />
                -Log błędów i komunikatów.<br />
                -Lista produktów<br />
                -detale<br />
                -paski nawigacyjne i wyszukiwarka.<br />
                -Praca w sesji i zapisanie stanu koszyka.<br />
                -Logowanie przez facebook'a lub google.<br />
                -Aplikacja responsywna, 3 różne rozdzielczośći ekranu(Komputer, Tablet, Smartphone).<br />
                -Testy jednostkowe Moq<br /><br />

                Zastosowane technologie:<br />

                C#, ASP.NET-MVC, AJAX, HTML5, CSS3, Javascript, MOQ<br /><br />

                Damian Gawin, 2019r.
            </p>
            <hr>
        </div>
    </div>

</div>

@section Scripts
{
    @Scripts.Render("~/bundles/scripts")
}
